:root {
  --vt-c-white: #ffffff;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: rgb(40, 40, 40);
  --vt-c-black-mute-2: rgb(50, 50, 50);

  --vt-c-indigo: #2c3e50;

  --vt-c-blue-dark: #440087;
  --vt-c-gradient-dark: linear-gradient(90deg, #00275c 0%, #b839ec 100%);
  --vt-c-gradient-light: linear-gradient(90deg, #9c5aff 0%, #87edff 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--vt-c-black);
  background-size: cover;
  position: relative;
  color: rgba(255, 255, 255, 0.753);
  text-shadow: 0px 4px 8px rgba(0, 31, 135, 0.6), 0px 0px 25px rgba(0, 47, 135, 0.6); 
  overflow: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
html {
  overflow: hidden;
}

#__vue-devtools-toggle {
  display: none !important;
}

[data-v-inspector-toggle] {
  display: none !important;
}

#__vue-devtools-container__,
.vue-devtools__anchor,
.vue-devtools__panel,
.vue-devtools__anchor-btn,
.vue-devtools__panel-content,
.vue-devtools__inspector-button,
.vue-devtools-frame,
#vue-devtools-iframe,
#vue-devtools-toggle {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
  z-index: -9999 !important;
}